@charset "utf-8" ;

/*---共通設定----*/

html {
    font-size: 100%;    
}

body {
    font-size: 17px;
    line-height: 1.7;
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }
}

img {
     max-width: 100%;
}
  
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color:#87cefa;
}

ul,
ol {
    list-style-type: none;
}

.sec-title {
    border-bottom: solid 2px #FF7BAC;
    margin-top: 50px;
    margin-bottom: 10px;
    display: inline-block;
}

/*---header----*/

.logo {
    width: 350px;
    margin:10px 10px 0 10px;
}

.gnav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.gnav-item {
    display: inline-block;
    font-size: 20px;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

li + li {
    border-left: 1px solid #333;
  }

.gnav-link {
    color: #333333;
}

/*---ハンバーガーメニュー----*/
/*------------------------------------
ヘッダー a hover:下線アンダーライン ↓
------------------------------------*/
.gnav-sp-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.gnav-sp-link::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: #FF7BAC;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
.gnav-sp-link:hover {
  color: gray;
}
header ul li a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

header .sp_nav {
  text-align: center;
}
.sidemenu {
  height: 100vh;
  padding-top: 100px;
  position: fixed;
  right: -40%; /*メニュー幅*/
  transition: all 0.6s;
  top: 0;
  width: 40%; /*メニュー幅*/
  z-index: 2;
  background-color: #fff;
}
.sidemenu nav ul li {
  padding: 20px;
}
.hamburger {
    background: #FF7BAC;
  cursor: pointer;
  height: 47px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 47px;
  z-index: 3;
  text-align: center;
}
.hamburger span:nth-child(1),
.hamburger span:nth-child(2)
{
  background-color: #fff;
  height: 4px;
  left: 9px;
  position: absolute;
  transition: all 0.6s;
  width: 30px;
}
.hamburger_linetop {
  top: 10px;
}
.hamburger_linecenter {
  top: 20px;
}
.hamburger_linebottom {
    color: #fff;
  top: 26px;
  font-size: 6px;
  height: 3px;
  left: 9px;
  position: absolute;
  width: 30px;
}
/*------------------------------------
メニュークリックした後 ↓
------------------------------------*/
.nav_open .sidemenu {
  right: 0;
}
.nav_open .hamburger_linetop {
  top: 14px;
  transform: rotate(45deg);
}
.nav_open .hamburger_linecenter {
    top: 14px;
    transform: rotate(-45deg);
}

.nav_open .hamburger_linebottom{
    font-size: 0;
}

.nav_open .hamburger_linebottom::before{
    top: 26px;
    font-size: 6px;
    content: "CLOSE";
}
.nav_open .overlay {
  opacity: 0.8;
  visibility: visible;
}
/*------------------------------------
メニュークリック後メニュー外の背景 ↓
------------------------------------*/
.overlay {
  background-color: #000;
  cursor: pointer;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all 0.6s;
  visibility: hidden;
  width: 100vw;
  z-index: 1;
}
/*------------------------------------
@media screen 
------------------------------------*/

.sp_nav {
    display: none;
}

@media screen and (max-width: 1000px) {
  .gnav {
    padding: 0 30px;
  }

  .top-icon {
    width: 40%;
  }

  .gnav-item {
    font-size: 17px;
    width: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

}

@media screen and (max-width: 768px) {
.gnav-list {
    display: none;
}
    .sp_nav {
    display: inline;
}
.top-icon {
  width: 70%;
  margin:5px 5px 0 5px;
}

.logo {
  margin: 0;
}

.gnav {
  padding: 0 5px;
}
}


/*---news----*/
.news-title{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
    margin: 0 auto;
} 

.news-wrapper {
    width: 600px;
    margin: 0 auto;
}

.news-container {
    width: 600px;
    height: 100px;
    border: 1px solid #333;
    padding: 10px;
    margin: 0 auto;
}

.post {
    display: flex;
}

.post-info {
    margin-left: 1rem;
}

.view {
    text-align: right;
}

.info-link {
    text-decoration:underline dotted;
}

@media screen and (max-width: 768px) {
    .news-wrapper {
        width: 95%;
    }
    
    .news-container {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .news-container {
        height: 100%;
    }
}

/*---about----*/
.flex-box {
    display: flex;
}

.about-text {
    margin-left: 1rem;
    line-height: 1.75;
}

.dryamada {
    width: 400px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .flex-box {
        display: block;
    }

    .dryamada {
        width: 200px;
        display: block;
        text-align: center;
    }

    .drname {
        border-bottom: solid 1px #F8C89C;
        display: inline-block;
        font-size: 13px;
    }
}

/*---introduction----*/
.intro-item {
    width: 31%;
}
 
.intro-box {
    display: flex;
    justify-content: space-between;
}

.intro-title {
    font-size: 21px;
    display: block;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .intro-item {
        width: 49%;
        margin-bottom: 20px;
    }

    .intro-box {
        flex-wrap: wrap;
    }

    .intro-title {
        font-weight: bold;
        font-size: 16px;
    }
}

/*---footer----*/

footer {
    margin-top: 50px;
    background-color: #FFF1EB;
    padding: 5%;
    position: relative;
}
.fotter-logo {
    width: 350px;
}

address {
    font-style:normal;
}

.hours {
    width: 500px;
}

.phone-box {
    display: flex;
}

.phone-number {
    text-decoration: none;
    color: #333;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    margin-right: 30px;
}

.reserve {
    display: inline-block;
}

iframe {
    width: 98%;
    height: 98%;
}

@media(min-width: 768px){
    a[href^="tel:"]{
      pointer-events: none;
    }
  }

.reserve-box {
    display: flex;
    align-items: center;
}

.phone-icon {
    width: 40px;
    margin-right: 3px;
}

.info-big-box {
    display: flex;
    justify-content: space-between;

}

.info-box {
    width: 48%;
    margin: 2px;
}


small {
    display: block;
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 50px;
}
@media screen and (max-width: 1150px) {
    .reserve-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .phone-box {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 768px) {
    .info-box {
        width: 98%;
        margin: 2px;
    }

    .reserve-box {
        display: block;
    }

    .info-big-box {
        flex-direction: column;
        justify-content: space-between;    
    }

    iframe {
        height: 500px;
    }

}
